<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body >
    <nav>
        <ul>
            <li><a href="{{ url_for('main_bp.index') }}">Home</a></li>
            <li><a href="{{ url_for('main_bp.about') }}">About</a></li>
          
        </ul>
        <ul>
            <li><a href="{{ url_for('auth_bp.register') }}">Register</a></li>
            {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('auth_bp.logout') }}">{{ current_user.username }} (Logout)</a></li>
            {% else %}
            <li><a href="{{ url_for('auth_bp.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>

</html>